@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To CMS PORTAL VIEW</h1>
    <p>you can get the information about CATEGORIES and COURSES</p>
    <a class="nav-link text-Primary bg-warning" asp-area="" asp-controller="Categories" asp-action="Index">Go To Categories Page</a><br />
    <a class="nav-link text-Primary bg-warning" asp-area="" asp-controller="Courses" asp-action="Index">Go To Courses Page</a>"
</div>
